<h1>Your Lists</h1>
<% if @lists.empty? %>
  <h3>You don't have any lists yet <%= fa_icon "frown" %></h3>
<% else %>
  <% @lists.each do |list| %>
    <%= render partial: 'list_short', locals: {list: list} %>
  <% end %>
<% end %>
<br>

<%= link_to 'Make a New List', new_list_path, class: "btn btn-primary" %>
