<div class="row">
  <h1>Create A New List</h1>
</div>
<div class="row">
  <div class="col-4">
    <%= render 'form', list: @list %>
    <br>
    <%= render 'movies/search_form' %>
    <br>
  </div>
  <div class="col-8" id="search-results"></div>
</div>
<div class="row">
  <%= link_to 'Back', lists_path %>
</div>
