<h1>Welcome to Mr. Movie Manager</h1>
<h4>This app is your one stop shop for creating your own curated list of movies.</h4>
<p>Create an account to get started</p>
<%= link_to "Create Account", new_user_registration_path, class: "btn btn-success" %>
