<div style="text-align:center">
  <h1>Welcome to Mr. Movie Manager</h1>
  <%= image_tag("mr-manager.gif", class: "centered") %>
  <h4>This app is your one stop shop for creating your own curated list of movies.</h4>
  <p>Create an account to get started</p>
  <%= link_to "Create Account", new_user_registration_path, class: "btn btn-success" %>
</div>
